
.container {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  border-radius: 4px;
}

.title {
  background-color: #ccc;
  font-size: 0.85rem;
  text-align: center;
  padding: 2px 0px;
}

.list {
  font-size: 0.75rem;
  max-height: 66px;
  overflow-y: scroll;
}

.item {
  cursor: pointer;
  display: inline-block;
  padding: 0.35rem;
  text-align: center;
  width: 21.60px;

  &:hover, &Selected {
    background-color: #3B99FC;
    color: #fff;
  }
}
